<h2>Talking to people at need</h2>
<p>
  We used Google ads to bring people to our site when they were searching for something. Once they were on our site, we were able to chat to them about why they had come to the site. Using this method, we got to speak to people who were in the middle of the problem they were trying to solve. We rewarded everyone we spoke to with a voucher as a thank-you for their time.
</p>
