<h2>Talking to people at need</h2>
<p>
  We used Google ads to bring people to our site when they were searching for something. Once they were on our site we were able to talk to them through the website as they were browsing to ask them what brought them there. This way we got to speak to people who were in the middle of the problem and trying to solve it. We could then arrange telephone calls to find out more. Everyone who gave us some of their time got a voucher as a thank-you.
</p>
