<h2>Talking to people in their local area</h2>
<p>
  We visited a specific areas and spoke to people on their doorsteps. The relaxed, familiar environment and the lack of financial incentive meant we got honest reactions to our proposition. The test for our proposition was whether someone would be willing to give their contact details and to sign up to get involved.
</p>
