<h2>We listen in on people’s conversations</h2>
<p>
  Discussion forums are places where people seek advice from their peers, rant and make jokes. They are a useful place to uncover common challenges and  misunderstandings. They help us understand how a group of potential users define themselves in relation to ‘other people’.
</p>
<p>
  Analysing the language used on discussion forums helps us better understand our users. We do this before we start writing so that the language, pitch and tone are appropriate.
</p>
