<h2>From idea to software in 5 days</h2>
<p>
    We tested this idea by building and testing a prototype in 5 working days. Our goal was not to test the effectiveness of the prototype, but to use it as a starting point for a conversation. Using the <a href="https://library.gv.com/the-product-design-sprint-understand-day-1-e164f76e69cf#.9nh30f8z4">GV product design sprint</a> framework, we were able to quickly test our assumptions and make something that felt real enough to try out on some potential users. The conversations we have with users as they interact with our prototype tell us if an idea is worth persuing or not.
</p>
