<h3>From idea to software in 5 days</h3>
<p>
    We tested this idea by building and testing a prototype in 5 working days. Using the <a href="https://library.gv.com/the-product-design-sprint-understand-day-1-e164f76e69cf#.9nh30f8z4">GV product design sprint</a> method, we were able to  quickly test our assumptions and make something that felt real enough to our users.
</p>
