<h2>One-to-one interviews with potential users</h2>
<p>
   We only have a few days to organise interviews, which means we have to use the quickest way to find relevant people to talk to. We use social media and our professional and social networks to carry out highly targeted recruitment to find people who closely represent our target audience.
</p>
<p>
   We observe and record our interviews, taking care to remove any details that would identify the participants. Everyone involved signs a participant agreement and we give vouchers to the people who take part as a thank-you for their time.
</p>
<p>
    We use active listening techniques to get deeper insights into the reasons behind comments that people make. We have learnt a lot from experts in Co-op Digital such as <a href="http://trvrs.co/book">Andrew Travers</a> and <a href="https://digitalblog.coop.co.uk/2017/03/09/small-is-beautiful-user-research-and-sample-sizes/">James Boardwell</a> that have helped us get the most from these interviews, thank you.
</p>
