<h2>One-to-one interviews</h2>
<p>
    We carried out interviews. Sometimes these were colleagues from other parts of the Co-op but this can introduce some bias. We've also recruited from the general public using our own social networks, our member database and adverts targeting online communities.
</p>
<p>
  We speak to people in individual 45 minute interviews and use active listening techniques to get deeper insights into the reasons behind comments that people make. We have learnt a lot from experts in Co-op Digital such as <a href="http://trvrs.co/book">Andrew Travers</a> and <a href="https://digitalblog.coop.co.uk/2017/03/09/small-is-beautiful-user-research-and-sample-sizes/">James Boardwell</a> that have helped us get the most from these interviews, thank you.
</p>
