<h2>Talking to experts</h2>
<p>
  We talk to experts in the areas we’ve been looking to find out what they think the big challenges are. We then turn these challenges into positive “how might we?” questions which we try to answer as we carry out the experiment.
</p>
<p>
  We’re lucky enough to work for a large organsiation with a lot of expertise in-house - we’re grateful to our colleagues who have given us their time and their knowledge. We’ve found that the Co-op name has opened doors for us, and external experts have also let us interview them.
</p>
