////////////////
//////////////// CONNECTED DEVICES
////////////////

$connected-devices-primary: #303832;
$connected-devices-secondary: darken($connected-devices-primary, 5%);
$connected-devices-reverse: #d3e4d7;


// Experiment page
.connected_index {
  h1 {
    @media screen and (min-width: 767px) {
      margin-top: 6rem;
      span {
        position: relative;
        font-size: 6.8rem;
        margin-left: -50%;
        z-index: 1;
        background: $connected-devices-reverse;
        color: $connected-devices-secondary;
        line-height: 10rem;
      }
    }
  }
}

.connected_index,
#project-connected-devices {

  font-family: 'Source Code Pro', monospace;
  font-size: 1.4rem;
  background: $connected-devices-secondary;

  article {
    color: $connected-devices-reverse;
    background: $connected-devices-primary;

    h1, h2, h3, h4, h5, h6 {
      font-weight: 500;
    }

    h1 {
      font-family: 'Playfair Display', serif;
    }
    p, blockquote {
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 2rem;
      width: 90%;
    }

    blockquote {
      font-family: 'Playfair Display', serif;

    }

    section {
      &.situation {
        p {
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
    }
    figure {
      &.alt {
        position: relative;
        &::after {
          content: '02/04/2016';
          background: black;
          display: block;
          position: absolute;
          top: 1rem;
          left: -2rem;
          z-index: 1;
        }
        img {
          margin-left: -4rem;
        }
      }
      img {
        mix-blend-mode: difference;
        opacity: 0.8;
      }
      figcaption {
        margin: 0.6rem 0 0 0;
        color: darken($connected-devices-reverse, 40%);
        font-size: 1rem;
      }
    }
  }

  aside {
    figure {
      background: darken($connected-devices-primary, 20%);
      padding: 5% 1%;
      border-radius: 2rem;
      margin-top: 4rem;
      max-width: 400px;
      opacity: 0.4;
      &:hover {
        opacity: 1;
      }
      .embed {
        position: relative;
        padding-bottom: 160%;
        width: 100%;
        text-align: left;
        iframe {
          width: 100%;
          position: absolute;
          height: 100%;
          overflow: hidden;
        }
      }
    }
  }
}

// Just index page

#project-connected-devices {
  article {
    h1  {

    }
    section {
      &.situation {
        p {
          font-weight: 500;
          font-size: 1.2rem;
          line-height: 1.6rem;
        }
      }
    }
    p, blockquote {
      font-size: 1rem;
      line-height: 1.4rem;
      width: 100%;
    }
    figure {
      margin: 0;
      &.alt {
        &::after {
          left: 0;
        }
        img {
          margin-left: 0;
        }
      }
    }
  }
}
