$colour-project-protect-together: $base-biscay;

body {
  &.index {
    #project-protect-together {
      > a {
        @media screen and (min-width: 767px) {
          &:after {
            background: linear-gradient( 180deg, rgba($colour-project-protect-together,0), $colour-project-protect-together, $colour-project-protect-together);
          }
          &:hover {
            &:after {
              background: linear-gradient( 180deg, rgba(darken($colour-project-protect-together, 4%),0), darken($colour-project-protect-together, 4%), darken($colour-project-protect-together, 4%));
            }
              > article {
                background: darken($colour-project-protect-together, 4%);
              }
          }
        }
      }
      > a > article {
        background: $colour-project-protect-together;
        header.project-title {
          h1 {
            span {
              background: darken($colour-project-protect-together, 15%);
            }
          }
        }
        > section > section {
          &:not(.situation):not(.question):not(.answer):not(:last-of-type) {
            &:after {
              color: darken($colour-project-protect-together, 10%);
            }
          }
        }
      }
    }
  }
  &.group-trust_index {
    background: darken($colour-project-protect-together, 4%);
    header#topnav {
      background: darken($colour-project-protect-together, 10%);
    }
    header.project-title {
      h1 {
        span {
          background: darken($colour-project-protect-together, 15%);
        }
      }
    }
    > article {
      > section > section {
        &:not(.situation):not(.question):not(.answer):not(:last-of-type) {
          &:after {
            color: darken($colour-project-protect-together, 10%);
          }
        }
      }
    }
    > article, > section > div {
      background: $colour-project-protect-together;
    }
    > section {
      &.what-next {
        background: darken($colour-project-protect-together, 15%);
      }
    }
    blockquote.pull-quote {
      span {
        background: darken($colour-project-protect-together, 10%);
      }
    }
  }
}
