$colour-project-locally: $base-oregon;

body {
  &.index {
    #project-locally {
      > a > article {
        background: $colour-project-locally;
        header.project-title {
          h1 {
            span {
              background: darken($colour-project-locally, 15%);
            }
          }
        }
        > section > section {
          &:not(.situation):not(.question):not(.answer):not(:last-of-type) {
            &:after {
              color: darken($colour-project-locally, 10%);
            }
          }
        }
      }
    }
  }
  &.locally_index {
    background: darken($colour-project-locally, 4%);
    header#topnav {
      background: darken($colour-project-locally, 15%);
    }
    header.project-title {
      h1 {
        span {
          background: darken($colour-project-locally, 15%);
        }
      }
    }
    > article {
      > section > section {
        &:not(.situation):not(.question):not(.answer):not(:last-of-type) {
          &:after {
            color: darken($colour-project-locally, 10%);
          }
        }
      }
    }
    > article, > section > div {
      background: $colour-project-locally;
    }
    > section {
      &.what-next {
        background: darken($colour-project-locally, 20%);
      }
    }
    blockquote.pull-quote {
      h1 {
        span {
          background: darken($colour-project-locally, 15%);
        }
      }
    }
  }
}
