$colour-project-shared-energy: $base-surfie;

body {
  &.index {
    #project-shared-energy {
      > a {
        @media screen and (min-width: 767px) {
          &:after {
            background: linear-gradient( 180deg, rgba($colour-project-shared-energy,0), $colour-project-shared-energy, $colour-project-shared-energy);
          }
          &:hover {
            &:after {
              background: linear-gradient( 180deg, rgba(darken($colour-project-shared-energy, 4%),0), darken($colour-project-shared-energy, 4%), darken($colour-project-shared-energy, 4%));
            }
              > article {
                background: darken($colour-project-shared-energy, 4%);
              }
          }
        }
      }
      > a > article {
        background: $colour-project-shared-energy;
        header.project-title {
          h1 {
            span {
              background: darken($colour-project-shared-energy, 15%);
            }
          }
        }
        > section > section {
          &:not(.situation):not(.question):not(.answer):not(:last-of-type) {
            &:after {
              color: darken($colour-project-shared-energy, 10%);
            }
          }
        }
      }
    }
  }
  &.shared-energy_index {
    background: darken($colour-project-shared-energy, 4%);
    header#topnav {
      background: darken($colour-project-shared-energy, 10%);
      svg#coop-logo {
        g#coop-logo-shape {
          fill: lighten($colour-project-shared-energy, 10%);
        }
      }
    }
    header.project-title {
      h1 {
        span {
          background: darken($colour-project-shared-energy, 15%);
        }
      }
    }
    > article {
      > section > section {
        &:not(.situation):not(.question):not(.answer):not(:last-of-type) {
          &:after {
            color: darken($colour-project-shared-energy, 10%);
          }
        }
      }
    }
    > article, > section > div {
      background: $colour-project-shared-energy;
    }
    > section {
      &.what-next {
        background: darken($colour-project-shared-energy, 15%);
      }
    }
    blockquote.pull-quote {
      span {
        background: darken($colour-project-shared-energy, 10%);
      }
    }
  }
}
