@charset "utf-8";
@import "normalize";

/* general
--------------------------------------------------*/
html {
  overflow-y: scroll;
  height:100%
}

.index {
  display: block;
  background: yellow;
  height: 100%;
}

img {
  max-width: 100%;
}

// Index layout

#projects {
  display: table;
  width: auto;
  overflow: hidden;
  background: red;
  height: 100%;
  @media screen and (max-width: 767px) {
    overflow: visible;
    height: auto;
  }
  .project {
    display: table-cell;
    width: 330px;
    min-width: 330px;
    max-width: 330px;
    @media screen and (max-width: 767px) {
      display: block;
      width: inherit;
      max-width: inherit;
    }
  }

  a {
    &.scroll-container {
      color: inherit;
      height: 100%;
      display: block;
      overflow: hidden;
      overflow-y: scroll;
      position: relative;
      text-decoration: none;
      @media screen and (max-width: 767px) {
        overflow-y: hidden;
        height: inherit;
        display: block;
      }

      article {
        padding: 28px;
        width: auto;
        float: none;
        @media screen and (max-width: 767px) {
          *:not(.project-title) {
            display: none;
          }
        }
      }
      &:hover {
        article {
          background-color: rgba(0, 0, 0, 0.1); 
        }
      }
    }
  }

}


// These are consistent styles across all experiments
body:not(.index) {
  article {
    padding: 2rem;
    box-sizing: border-box;
    @media screen and (min-width: 767px) {
      float: left;
      width: 50%;
    }
  }
  aside {
    @media screen and (min-width: 767px) {
      width: 50%;
      float: right;
    }
    figure {
      @media screen and (min-width: 767px) {
        position: fixed;
      }
    }
  }
}


// These are experiment specific styles


// Connected devices
.connected_index,
#project-connected-devices {
  
  $connected-devices-primary: #303832;
  $connected-devices-secondary: darken($connected-devices-primary, 20%);
  $connected-devices-reverse: #ffffff;

  font-family: 'Source Code Pro', monospace;
  background: $connected-devices-secondary;
  article {
    color: $connected-devices-reverse;
    background: $connected-devices-primary;
    h1 {
      font-family: 'Playfair Display', serif;
      font-size: 3.6rem;
    }
  }

  aside {
    figure {
      iframe {
        width: 375px;
        height: 667px;
      }
    }
  }
}


// Protect together
#project-protect-together {
  background: blue;
  color: white;
}
