@charset "utf-8";
@import "normalize";

/* general
--------------------------------------------------*/
html {
  overflow-y: scroll;
  height:100%;
  background: #efefef;
  text-rendering: optimizeLegibility;
}

body {
  overflow: auto;
}

.index {
  display: block;
  height: 100%;
}

img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 0.2rem;
}

time {
  font-size: 0.8rem;
}

div#top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

div#wip,
header#topnav {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  box-sizing: border-box;
}

div#wip {
  padding: 0rem 1.2rem;
  background: orange;
  color: #774d00;
  border-bottom: 1px solid #D08600;
  line-height: 28px;
  a {
    color: white;
  }
}

header#topnav {
  line-height: 36px;
  padding: 0.2rem 1.2rem;
  background: white;
  a, a:active, a:visited {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    &:nth-of-type(2) {
      float: right;
    }
  }
  border-bottom: 1px solid #DFDEDF;
}

// About index

body.about_index {
  margin-top: 71px;
  article {
    padding: 0.2rem 1.2rem;
    max-width: 800px;
    font-size: 2.4rem;
    line-height: 3.4rem;
    margin-bottom: 8rem;
  }
}

// Index layout

#projects {
  display: table;
  width: auto;
  overflow: hidden;
  height: 100%;
  margin-top: 71px;
  @media screen and (max-width: 767px) {
    overflow: visible;
    height: auto;
  }
  .project {
    display: table-cell;
    width: 330px;
    min-width: 330px;
    max-width: 330px;
    @media screen and (max-width: 767px) {
      display: block;
      width: inherit;
      max-width: inherit;
    }
  }

  a {
    &.scroll-container {
      color: inherit;
      height: 100%;
      display: block;
      overflow: hidden;
      overflow-y: scroll;
      position: relative;
      text-decoration: none;
      @media screen and (max-width: 767px) {
        overflow-y: hidden;
        height: inherit;
        display: block;
      }
      article {
        padding: 1.2rem;
        width: auto;
        float: none;
        section {
          @media screen and (max-width: 767px) {
            * {
              display: none;
            }
            header.project-title {
              display: block;
              h1, time {
                display: block;
              }
              span {
                display: inline;
              }
            }
          }
        }
        aside {
          &.experiment-live {
            display: none;
          }
        }
        figure {
          margin: 0;
        }
      }
      &:hover {
        article {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

}


// These are consistent styles across all experiments
body:not(.index):not(.about_index) {
  margin-top: 71px;
  article {
    figure {
      margin: 0 0 4rem 0;
      &.img-wide {
        @media screen and (min-width: 767px) {
          margin-left: -8rem;
          figcaption {
            margin-left: 8rem;
          }
        }
      }
    }
    padding: 2rem;
    box-sizing: border-box;
    @media screen and (min-width: 767px) {
      float: right;
      width: 60%;
      > section {
        max-width: 800px;
        float: left;
      }
    }
    section {
      p, blockquote, h2 {
        @media screen and (min-width: 767px) {
          width: 90%;
        }
      }
      blockquote {
        quotes: "\201C""\201D";
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        position: relative;
        margin: 2.8rem;
        padding: 0;
        box-sizing: border-box;
        width: 80%;
        @media screen and (min-width: 767px) {
          width: 60%;
        }
        &:before {
          font-family: inherit;
          content: open-quote;
          font-size: 4rem;
          position: absolute;
          left: -2.4rem;
          top: 1.2rem;
          opacity: 0.2;
          line-height: 0;
        }
        p {
          display: inline-block;
          margin: 0 0 1rem 0;
        }
        footer {
          font-size: 1rem;
          line-height: 1.4rem;
          margin-top: 0.8rem;
          opacity: 0.4;
          @media screen and (min-width: 767px) {
            width: 60%;
          }
          cite {
            font-style: inherit;
          }
        }
      }
      &.situation {
        @media screen and (min-width: 767px) {
          margin-top: 6rem;
        }
      }
      > header.project-title {
        @media screen and (min-width: 767px) {
          margin-left: -50%;
        }
        z-index: 1;
      }
      > section {
        margin-bottom: 8rem;
      }
    }
  }


  aside {
    @media screen and (min-width: 767px) {
      width: 50%;
      margin-left: -60%;
      float: left;
    }
    &.experiment-live {
      figure {
        @media screen and (max-width: 766px) {
          display: none;
        }
      }
    }

    &.desktop-embed {
      width: 150%;
        @media screen and (min-width: 767px) and (max-width: 1200px) {
      float: right;
          -ms-transform: scale(0.5);
          -moz-transform: scale(0.5);
          -o-transform: scale(0.5);
          -webkit-transform: scale(0.5);
          transform: scale(0.5);
          
          -ms-transform-origin: 0 0;
          -moz-transform-origin: 0 0;
          -o-transform-origin: 0 0;
          -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
        }
      figure {
        border-radius: 0.4rem;
        padding-top: 2rem;
        background: #d0d0d0;
        @media screen and (min-width: 767px) and (max-width: 1200px) {
          width: 120%;
          iframe {
          }
        }
      }
    }

    figure {
      &.mobile-frame {
        @media screen and (min-width: 767px) {
          background: black;
          padding: 4rem 1rem;
          border-radius: 2rem;
          max-width: 400px;
        }
      }
      .embed {
        position: relative;
        padding-bottom: 160%;
        width: 100%;
        text-align: left;
        iframe {
          width: 100%;
          position: absolute;
          height: 100%;
          overflow: hidden;
        }
      }
    }
  }

  section.what-next {
    width: 100%;
    display: block;
    float: left;
    z-index: 1;
    position: relative;
    background: white;
    padding: 4rem 0 10rem 0;
    section.further-reading,
    section.related-project,
    section.view-experiment {
      a.experiment-link {
        @media screen and (min-width: 767px) {
          display: none;
        }
      }
      width: 90%;
      margin: 0 auto;
      @media screen and (min-width: 767px) {
        width: 50%;
      }
      ul {
        li {
          line-height: 1.4em;
          margin-bottom: 1.2rem;
        }
        margin-bottom: 4rem;
      }
      a {
        color: inherit;
      }
    }
  }

}


// These are experiment specific styles


////////////////
//////////////// CONNECTED DEVICES
////////////////

  $connected-devices-primary: #303832;
  $connected-devices-secondary: darken($connected-devices-primary, 5%);
  $connected-devices-reverse: #d3e4d7;


// Experiment page
.connected_index {
  h1 {
    @media screen and (min-width: 767px) {
      margin-top: 6rem;
      span {
        position: relative;
        font-size: 6.8rem;
        line-height: 10rem;
      }
    }
  }
}

// Experiment page AND index
.connected_index,
#project-connected-devices {

  font-family: 'Source Code Pro', monospace;
  font-size: 1.4rem;
  background: $connected-devices-secondary;

  article {
    color: $connected-devices-reverse;
    background: $connected-devices-primary;

    h1, h2, h3, h4, h5, h6 {
      font-weight: 500;
    }

    h1 {
      font-family: 'Playfair Display', serif;
      span {
        background: $connected-devices-reverse;
        color: $connected-devices-secondary;
      }
    }
    p, blockquote {
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 2rem;
    }

    blockquote {
      font-family: 'Playfair Display', serif;

    }

    section {
      &.situation {
        p {
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
    }
    figure {
      &.alt {
        position: relative;
        &::after {
          content: '02/04/2016';
          background: black;
          display: block;
          position: absolute;
          top: 1rem;
          left: 1rem;
          z-index: 1;
        }
      }
      img {
        mix-blend-mode: difference;
        opacity: 0.8;
      }
      figcaption {
        margin: 0.6rem 0 0 0;
        color: darken($connected-devices-reverse, 40%);
        font-size: 1rem;
        a {
          color: darken($connected-devices-reverse, 40%);
        }
      }
    }
  }

  section.what-next {
    background: darken($connected-devices-primary, 20%) !important;
    color: $connected-devices-reverse;
    a:link {
      color: inherit;
    }
  }

}

// Just index page

#project-connected-devices {
  article {
    h1  {
      span {
        font-size: 2.4rem;
        line-height: 3.4rem;
      }
    }
    section {
      &.situation {
        p {
          font-weight: 500;
          font-size: 1.2rem;
          line-height: 1.6rem;
        }
      }
    }
    p, blockquote {
      font-size: 1rem;
      line-height: 1.4rem;
      width: 100%;
    }
    figure {
      margin: 0;
      &.alt {
        &::after {
          left: 0;
        }
        img {
          margin-left: 0;
        }
      }
    }
  }
}


////////////////
//////////////// FINANCIAL FREEDOM
////////////////


$financial-freedom-primary: #131B43;
$financial-freedom-secondary: #DEF600;
$financial-freedom-reverse: #ffffff;

// Experiment page
.financial-freedom_index {

  article {
    h1 {
      @media screen and (min-width: 767px) {
        margin-top: 6rem;
        span {
          position: relative;
          font-size: 6.8rem;
          line-height: 10rem;
        }
      }
    }
    section {
      p, blockquote {
        font-size: 1.4rem;
        line-height: 2rem;
      }
      &.situation {
        @media screen and (min-width: 767px) {
          p {
            font-size: 1.8rem;
            line-height: 2.6rem;
            
          }
        }
      }
    }
  }

  section.what-next {
    background: $financial-freedom-primary !important;
    color: $financial-freedom-reverse;
    a:link {
      color: $financial-freedom-reverse;
    }
  }
}

// Experiment page AND index
.financial-freedom_index,
#project-financial-freedom {
  font-family: 'Overpass', sans-serif;

  img {
    filter: grayscale(100%);
  }
  article {
    color: $financial-freedom-primary;
    background: $financial-freedom-reverse;
    h1 {
      span {
        background: $financial-freedom-secondary;
      }
    }
    h2 {
      line-height: 2rem;
    }
  }
}

// Just index page
#project-financial-freedom {
  h1 {

  }
}


////////////////
//////////////// GROUP TRUST
////////////////

$group-trust-primary: #c2e8fd;
$group-trust-secondary: lighten($group-trust-primary, 10%);
$group-trust-reverse: black;


// Experiment page
.group-trust_index {
  article {
    h1 {
      @media screen and (min-width: 767px) {
        margin-top: 6rem;
        span {
          position: relative;
          font-size: 6.8rem;
          line-height: 10rem;
        }
      }
    }
    @media screen and (min-width: 767px) {
      p {
        font-size: 1.4rem;
        line-height: 2rem;
      }
      section.situation {
        h2 {
          font-size: 2.4rem;
        }
        p {
          font-size: 1.8rem;
          line-height: 2.4rem;
        }
      }
    }
  }

  .embed {
    background: white;
  }

  section.what-next {
    background: $group-trust-reverse !important;
    color: $group-trust-primary;
    a:link {
      color: $financial-freedom-reverse;
    }
  }

}

// Experiment page AND index

.group-trust_index,
#project-protect-together {
  font-family: 'Nunito', sans-serif;
  background: darken($group-trust-primary, 10%);
  article {
    background: $group-trust-primary;
    h1 {
      span {
        background: $group-trust-reverse;
        color: $group-trust-secondary;
      }
    } 
  }

}

// Just index page
#project-protect-together {
  article {
    h1 span {
      font-size: 2.4rem;
      line-height: 3.6rem;
    }
  }
}

////////////////
//////////////// TERMS
////////////////

$terms-primary: #50E3C2;
$terms-secondary: #blue;
$terms-reverse: black;


// Experiment page
.terms_index {
  article {
    h1 {
      @media screen and (min-width: 767px) {
        margin-top: 6rem;
        span {
          position: relative;
          font-size: 6.8rem;
          line-height: 10rem;
        }
      }
    }
    @media screen and (min-width: 767px) {
      p {
        font-size: 1.4rem;
        line-height: 2rem;
      }
      section.situation {
        h2 {
          font-size: 2.4rem;
        }
        p {
          font-size: 1.8rem;
          line-height: 2.4rem;
        }
      }
    }
  }

  section.what-next {
    background: $terms-reverse !important;
    color: $terms-primary;
    a:link {
      color: $terms-reverse;
    }
  }

}

// Experiment page AND index

.terms_index,
#project-terms-reviewers {
  font-family: "Times New Roman", Times, serif;
  background: darken($terms-primary, 10%);
  article {
    background: $terms-primary;
    h1 {
      span {
        background: $terms-reverse;
        color: white;
      }
    }
    figure {
      &::after {
        background: red; 
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        content: '';
      }
    }
  }

}

// Just index page
#project-terms-reviewers {
  article {
    h1 span {
      font-size: 2.4rem;
      line-height: 3rem;
    }
    p, blockquote {
      line-height: 1.6rem;
    }
  }
}


////////////////
//////////////// LOCALLY
////////////////

$locally-secondary: #242324;
$locally-reverse: #E9A45B;
$locally-primary: white;


// Experiment page
.locally_index {
  article {
    h1 {
      @media screen and (min-width: 767px) {
        margin-top: 6rem;
        span {
          position: relative;
          font-size: 6.8rem;
          line-height: 10rem;
        }
      }
    }
    @media screen and (min-width: 767px) {
      p {
        font-size: 1.4rem;
        line-height: 2rem;
      }
      section.situation {
        h2 {
          font-size: 2.4rem;
        }
        p {
          font-size: 1.8rem;
          line-height: 2.4rem;
        }
      }
    }
  }

  section.what-next {
    background: $locally-secondary !important;
    color: $locally-primary;
  }

}

// Experiment page AND index

.locally_index,
#project-locally {
  font-family: 'Arimo', sans-serif;
  background: darken($locally-primary, 10%);
  color: $locally-secondary;
  article {
    background: $locally-primary;
    h1 {
      span {
        background: $locally-reverse;
        color: $locally-secondary;
      }
    } 
  }

}

// Just index page
#project-locally {
  article {
    h1 span {
      font-size: 2.4rem;
      line-height: 3rem;
    }
    section.situation {
      p {
        font-size: 1.2rem;
        line-height: 1.8rem;
        
      }
    }
    p, blockquote {
      line-height: 1.6rem;
    }
  }
}


