@charset "utf-8";
@import "normalize";

/* general
--------------------------------------------------*/
html {
  overflow-y: scroll;
  height:100%
}

.index {
  display: block;
  background: yellow;
  height: 100%;
}

.projects {
  display: table;
  width: auto;
  height: 100%;
  overflow: hidden;
  background: red;

  .project {
    display: table-cell;
    width: 330px;
    min-width: 330px;
    max-width: 330px;
  }

  .scroll-container {
    height: 100%;
    display: block;
    overflow: hidden;
    overflow-y: scroll;
  }

  article {
    padding: 28px;
  }
}

@media screen and (max-width: 767px) {
  .projects {
    overflow: visible;
    height: auto;

    .project {
      display: block;
      width: inherit;
      max-width: inherit;
    }

    .scroll-container {
      overflow-y: hidden;
      height: inherit;
      display: block;
    }
  }
}


.connected_index,
#project-connected-devices {
  
  $connected-devices-primary: #303832;
  $connected-devices-secondary: darken($connected-devices-primary, 20%);
  $connected-devices-reverse: #ffffff;

  background: $connected-devices-secondary;
  color: $connected-devices-reverse;

  article {
    width: 50%;
    float: right;
    background: $connected-devices-primary;
  }
  aside {
    width: 50%;
    float: left;
    figure {


      iframe {
        width: 375px;
        height: 667px;
      }
      
    }
  }
}

#project-protect-together {
  background: blue;
  color: white;
}
