<article>
  <section>

    <header class="project-title">
      <h1><span>Collective switching</span></h1>
      <time>June 2017</time>
    </header>

    <section class="situation">
      <p>
        Of the x% of people who have never switched energy company, x% of them are with one of the 'big six' energy companies, on an expensive tariff using fuel from oil, coal or fracked gas.
      </p>
    </section>

    <section class="complication">
      <h2>Complication</h2>
      <p>
        description      </p>

      </p>
    </section>

    <section class="what-we-did">
      <h2>What we did</h2>
      <p>
        [show the example school switch page as an aside]
      </p>
    </section>

    <section>
      <h2 class="question">
          Perceived nightmare
        </h2>
      <section class="answer">
        <p>
          Answer
        </p>

        <blockquote>
          <p>
            Quote
          </p>
          <footer>-
            <cite>
              M, male, 26-35 year old
          </cite>
          </footer>
        </blockquote>

      </section>
    </section>
    <section>
      <h2 class="question">
          Differentiation
        </h2>
      <section class="answer">
        <p>
          Answer
        </p>

        <blockquote>
          <p>
            Quote
          </p>
          <footer>-
            <cite>
              M, male, 26-35 year old
          </cite>
          </footer>
        </blockquote>

      </section>
    </section>
    <section>
      <h2 class="question">
          Financial contentment
        </h2>
      <section class="answer">
        <p>
          Answer
        </p>

        <blockquote>
          <p>
            Quote
          </p>
          <footer>-
            <cite>
              M, male, 26-35 year old
          </cite>
          </footer>
        </blockquote>

      </section>
    </section>
    <section>
      <h2 class="question">
          Social pressures
        </h2>
      <section class="answer">
        <p>
          Answer
        </p>

        <blockquote>
          <p>
            I’ve just got it in me head that it would be a bit of a faff.
          </p>
          <footer>-
            <cite>
              S, male, 51, never switched from British Gas
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            Obviously you could be in debit, having to owe British Gas, before you even with go with a new supplier.
          </p>
          <footer>-
            <cite>
              S, male, 51, never switched from British Gas
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            [why might you switch?] I’m guessing, just to save money. Get your bills down.
          </p>
          <footer>-
            <cite>
              S, male, 51, never switched from British Gas
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            Scottish Power were the providers when we got there. I seem to remember I had a look at the time and I couldn’t be bothered to look any further.
          </p>
          <footer>-
            <cite>
              D, male, 35, never switched from Scottish Power
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            You remember the old days when you moved phone, you ended up on hold for ages, it was a faff.
          </p>
          <footer>-
            <cite>
              D, male, 35, never switched from Scottish Power
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            Ecotricity: I like the name. It makes me think it’s not all coal fuelled.          </p>
          <footer>-
            <cite>
              D, male, 35, never switched from Scottish Power
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            [on claims about how much you can save] As soon as I see “up to” I just ignore it.</p>
          <footer>-
            <cite>
              D, male, 35, never switched from Scottish Power
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            It is yeah but it’s the reward ratio, how much I’d have do. I’m lazy.</p>
          <footer>-
            <cite>
              D, male, 35, never switched from Scottish Power
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            I’d probably be a bit more inclined to do that then take the £25 myself.      </p>
          <footer>-
            <cite>
              D, male, 35, never switched from Scottish Power
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            I would be happy to switch providers if someone could do everything for me. Literally take it all for me.
          </p>
          <footer>-
            <cite>
              N, female, 37, switched to Eon 8 years ago
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            If someone physically put it in front of me and said we’d do it for you.
          </p>
          <footer>-
            <cite>
              N, female, 37, switched to Eon 8 years ago
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            I’ve no doubt we could get it cheaper.
          </p>
          <footer>-
            <cite>
              N, female, 37, switched to Eon 8 years ago
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            It’s a really good idea. We do something similar at the moment. If you shop online, you go through a certain platform and the school gets money. It’s heavily used.
          </p>
          <footer>-
            <cite>
              N, female, 37, switched to Eon 8 years ago
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            I reckon half of the 90 sets of parents used it. It was a success.
          </p>
          <footer>-
            <cite>
              N, female, 37, switched to Eon 8 years ago
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            I think it’s telling you, change and we’ll help raise money for your school.
          </p>
          <footer>-
            <cite>
              N, female, 37, switched to Eon 8 years ago
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            I see the word solar and I think it’s solar panels on the roof or something.
          </p>
          <footer>-
            <cite>
              N, female, 37, switched to Eon 8 years ago
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            I wouldn’t know the first place to start.
          </p>
          <footer>-
            <cite>
              N, female, 37, switched to Eon 8 years ago
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            ...it needs to be like, do it for me.
          </p>
          <footer>-
            <cite>
              N, female, 37, switched to Eon 8 years ago
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            I used it because my daughters told me to.
          </p>
          <footer>-
            <cite>
              K, female, 47, never switched from NPower
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            I imagine the prices would be a lot higher with it being a smaller company.
          </p>
          <footer>-
            <cite>
              K, female, 47, never switched from NPower
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            I worry that I’d have to spend 10 hours on the phone to sort it out.
          </p>
          <footer>-
            <cite>
              S, female, 41, never switched from Scottish Power and British Gas
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            I just think my time is precious. It’s just going to be a ball ache.
          </p>
          <footer>-
            <cite>
              S, female, 41, never switched from Scottish Power and British Gas
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            It just gives me shudders. I just think it would be a nightmare.
          </p>
          <footer>-
            <cite>
              S, female, 41, never switched from Scottish Power and British Gas
          </cite>
          </footer>
        </blockquote>
        <blockquote>
          <p>
            Like will they ask for things like how many kilowatts.. units of energy.. how many… how much you pay exactly.
          </p>
          <footer>-
            <cite>
              S, female, 41, never switched from Scottish Power and British Gas
          </cite>
          </footer>
        </blockquote>

      </section>
    </section>


    </section>
</article>
