<article>
  <section>

    <header class="project-title">
      <h1><span>Collective switching</span></h1>
      <time>June 2017</time>
    </header>

    <section class="situation">
      <p>
        Situation
      </p>
    </section>

    <section class="complication">
      <h2>Complication</h2>
      <p>
        description      </p>

      </p>
    </section>

    <section class="what-we-did">
      <h2>What we did</h2>
      <p>
        [show the example school switch page as an aside]
      </p>
    </section>

    <section>
      <h2 class="question">
          Perceived nightmare
        </h2>
      <section class="answer">
        <p>
          Answer
        </p>

        <blockquote>
          <p>
            Quote
          </p>
          <footer>-
            <cite>
              M, male, 26-35 year old
          </cite>
          </footer>
        </blockquote>

      </section>
    </section>
    <section>
      <h2 class="question">
          Differentiation
        </h2>
      <section class="answer">
        <p>
          Answer
        </p>

        <blockquote>
          <p>
            Quote
          </p>
          <footer>-
            <cite>
              M, male, 26-35 year old
          </cite>
          </footer>
        </blockquote>

      </section>
    </section>
    <section>
      <h2 class="question">
          Financial contentment
        </h2>
      <section class="answer">
        <p>
          Answer
        </p>

        <blockquote>
          <p>
            Quote
          </p>
          <footer>-
            <cite>
              M, male, 26-35 year old
          </cite>
          </footer>
        </blockquote>

      </section>
    </section>
    <section>
      <h2 class="question">
          Social pressures
        </h2>
      <section class="answer">
        <p>
          Answer
        </p>

        <blockquote>
          <p>
            Quote
          </p>
          <footer>-
            <cite>
              M, male, 26-35 year old
          </cite>
          </footer>
        </blockquote>

      </section>
    </section>


    </section>
</article>
