<article>
  <section>
    <h1 class="project-title"><span>Keeping money local</span></h1>
    <section class="situation">
      <p>Independents can't compete with online shops and global chains</p>
      <p>
        And when those businesses shut down, they leave gaps in the local economy as well as the high street.
      </p>
    </section>
    <section class="complication">
    </section>
    <section class="what-we-did">
      <h2>A shared loyalty scheme for independent retailers</h2>
      <p>
        We showed 6 independent retailers in Chorlton a prototype of Locally, a scheme that earns shoppers ‘perks’, redeemable in any participating business, when they shop with local independent retailers.
      </p>
      <figure>
        <%= image_tag 'Assets/Locally/using-the-app.png', {:alt => 'Close of a person using the Locally app to enter an amount' } %>
        <figcaption>
          Money spent in local shops earns perks that can be redeemed in any participating business
        </figcaption>
      </figure>

    </section>
    <section class="question">
      <h2>Could Co-op encourage shoppers to spend their money locally and support their local economy?
</h2>
    </section>

    <section class="answer">
      <h2>Only if the scheme is fair for everyone</h2>
      <p>
        Reaction to the core concept (earning points with one business and getting the perk from another) was mixed, and there were concerns about the practicalities of asking staff to use an app.
      </p>

      <p>
        Some local retailers were open to idea behind Locally, and were interesting in seeing the concept develop. However, most did not like the idea of shoppers earning perks in other shops and redeeming them in theirs, and felt the system could disadvantage them.
      </p>

      <p>
        We heard mixed opinions about local business associations, that they were old fashioned and not very effective. Local business associations as technological platforms would be an interesting area for the Co-op to explore next.
      </p>
    </setion>

      <section class="question">
        <h2>Would Locally benefit local retailers?</h2>
      </section>

      <section class="answer">
        <h2>We have too many cards in our wallets already</h2>
        <p>Description
        </p>
        <blockquote>
          <p>
            How many cards do you get these days? Do you always have it in your purse? I have about 15 different loyalty cards in my purse.
          </p>
        </blockquote>

        <blockquote>
          <p>
            The card is nothing new - I don’t think it will make any difference.
          </p>
        </blockquote>

      </section>

      <section class="answer">
        <h2>An app doesn't suit everybody</h2>
        <p>Retailers were worried about how they and their staff would use the app. Some were worried about it being time consuming and fiddly, and others thought it would be wrong to ask staff to use their own data whilst using the app in the shop. We also heard that not all their customers had smartphones, and would therefore miss out.
        </p>
        <blockquote>
          <p>
            We get a lot of older people who don’t know how to use their phones - why should only the tech savvy people get the discount?
          </p>
        </blockquote>

        <blockquote>
          <p>
            From a customer perspective, there might be a reluctance for a retailer to link to a phone. What details are they taking? I’d have security concerns as a customer.
          </p>
        </blockquote>

        <blockquote>
          <p>
            I'm slightly nervous about phone my phone as well, I tend to keep it in my phone or in my pocket, if I was using that, no, sorry.... you're constantly distracted, and I'd be nervous about using my own phone and putting it down somewhere.
          </p>
        </blockquote>


      </section>

      <section class="answer">
        <h2>Retailers worry about losing out</h2>
        <p>
          The goal of Locally was to increase local shopping overall, by offering rewards to people who shop with any local retailer. However, some the people we spoke to worried that they would lose out, that shoppers would earn their 'perks' in other shops and redeem them in their's. They were not convinced that they would benefit from new people coming into their shops.
        </p>
        <blockquote>
          <p>
            I have to give money to get people to come into our shop - which devalues all the hard work that we put in - it says that what we have isn’t enough. I don’t want to read any more. It instantly makes me go ugh.
          </p>
        </blockquote>

        <blockquote>
          <p>
            If everyone goes for a haircut - and then they redeem the points at [my butchers] - I’d be fuming! I’d be unemployed! I’d have to work for Tesco!
          </p>
        </blockquote>
        <blockquote>
          <p>
            I can't compete with that. I think people would come here, not to earn their points, but to use them, but they'd tell their kids they could use them in [partipant’s] shop.
          </p>
        </blockquote>
      </section>

      <section class="answer">
        <h2>Not everyone feels a sense of community with other retailers</h2>
        <p>Some retailers did talk about a community of shop keepers - but it wasn't universal. Retailers who where on the same street tended to be involved in their local area, but across the wider area there wasn't a sense of community.
        </p>
        <blockquote>
          <p>
            Local shops on their street work together - they put their own money into decorations.
          </p>
        </blockquote>

        <blockquote>
          <p>
            Other shops? I’m quite insular - I’m not massively involved in what other people are doing.
          </p>
        </blockquote>
        <blockquote>
          <p>
            it’s like a community. We all knew each other and looked out for each other. Like an extended family.
          </p>
        </blockquote>

      </section>

      <section class="answer">
        <h2>Retailers had their own schemes in place</h2>
        <p>
          Everyone we spoke to had some way of rewarding loyalty to their own business.
        </p>
        <blockquote>
          <p>
            We have a discount in the store. It's a bit like boots. They have an account in the store, and they acrue points. We didn't go down the route of cards, we just wanted a pin, it just puts the points on their account. They love it, and it keeps them coming back.
          </p>
        </blockquote>

        <blockquote>
          <p>
            If a customer comes in and spends £500 - we’d offer a gift as a gesture - it’s an unexpected surprise - the cherry on the cake.
          </p>
        </blockquote>
        <blockquote>
          <p>
            We already offer a 10% discount, anything that’s full price. I don’t want to confuse things. I’d probably stick with that, stay the same.
          </p>
        </blockquote>

      </section>

      <section class="answer">
        <h2>Trading associations are not working for everybody</h2>
        <p>
          We heard very mixed views of
        </p>
        <blockquote>
          <p>
            I don’t participate in the traders association - it’s changed over the years - when I was having children they were trying to cover a bigger area - I was too tired and busy!
          </p>
        </blockquote>

        <blockquote>
          <p>
            The only time they come knocking is money for Xmas lights. TA's are not run properly. They're not run properly. No one has time to turn up after work. There needs to be a portal, or an app, where businesses can come together and talk, more like social media, maybe password protected. And free.
          </p>
        </blockquote>
        <blockquote>
          <p>
            We’re an active part of the Traders Association. It was important to me [and partner], that we could build up a rapport, and use their business and reach to them first, see if there’s anything we can work together.
          </p>
        </blockquote>

      </section>
      <section class="question">
        <h2>Will retailers accept the Co-op’s involvement in this?</h2>
      </section>

      <section class="answer">
        <h2>heading</h2>
      </section>



  </section>
</article>
