<article>
  <section>
    <h1 class="project-title"><span>Terms and reviewers</span></h1>
    <section class="situation">
      <h2>'Smart' or safe?</h2>
      <p>
        More of the things we buy for our homes connect to the internet. Part of the installation of these devices involves agreeing to terms and conditions - and the sneaky clauses that allow our privacy to be compromised.
      </p>
    </section>
    <section class="complication">
      <h2>Deciding which TV to buy is hard enough</h2>
      <p>
        People don’t take data security into account when buying connected devices. Product reviews and press coverage about new products focus on features and specifications, not privacy and invasive, confusing terms and conditions.
      </p>
    </section>
    <section class="what-we-did">
      <h2>Influencing consumers by influencing journalists</h2>
      <p>
        We wanted to find out if we could encourage the journalists who write product reviews to focus on security by showing them the dodgy clauses in manufacturers' terms and conditions.
      </p>
      <figure>
        <%= image_tag 'Assets/Scout/landing-page.png', {:alt => 'Screenshot of the landing page of Legalease, with this text: "Shining a light on terms and conditions. We have ve read the terms and coniditions of the companies that make our appliances and devices, so you do not have to. Focusing on privacy and security, we have highlighted the clauses that we think could be clearer."' } %>
        <figcaption>
          The landing page of our Legalease prototype website
        </figcaption>
      </figure>

      <p>
        We showed X journalists and reviewers a prototype of Leglease, a community-driven terms and conditions analysis site where contributors annotate legal terms and leave questions for manufacturers to answer.
      </p>
    </section>
    <figure>
      <%= image_tag 'Assets/Scout/comments.png', {:alt => 'Screenshot of highlighted clauses from a set of terms, with comments from fictional contributers' } %>
      <figcaption>
        Our (fictional) contributers could highlight clauses they found troubling and leave comments
      </figcaption>
    </figure>


    <section class="question">
      <h2>How do journalists write stories?</h2>
    </section>

    <section class="answer">
      <h2>Somewhere on the scale between objectivity and subjectivity</h2>
      <p>
        Different publications have different approaches. One of the journalists we spoke carried out with repeatable objective experiments to decide which product was best. Another wrote for a site where personal and political opinions are encouraged, and was able to bring his own views into his reviews.
      </p>

      <h2>Using personal and professional relationships to understand complex issues</h2>

      <p>
        The journalists we spoke to used different sources for their stories: PR agencies, manufacturers, their own research, awareness of trends through personal contacts and online communities (Reddit). Some were happy to be contacted by PR companies and manufacturers. Others deliberately avoided them, only contacting them to give them a chance to respond to a negative story.
      </p>
    </section>

    <section class="question">
      <h2>How do journalists measure their impact?</h2>
    </section>

    <section class="answer">
      <p>
        A mix of analytics and social media (they didn’t seem too concerned with this)
      </p>
    </section>

    <section class="question">
      <h2>Did the journalists take to our product?</h2>
    </section>

    <section class="answer">
      <p>
        They recognised it for what we intended it to be. The user comments highlighted ambiguity, but they didn’t find that useful. They were oncerned about the validity of contributors; they to hear from experts and others with authority. Some of the people we spoke to felt that their audiences were not interested in data privacy unless it affected them in a tangible way, such as losing money or being annoyed by targetted ads.
      </p>
    </section>

    <section class="question">
      <h2>
        Could we encourage product reviewers to talk about privacy and security?
      </h2>
    </section>

    <section class="answer">
      <p>
        No - not like this. We learned that it was clear what Legalease was for. However, participants’ reactions were mixed as to whether it was something they’d use during their writing process. They wanted to see stronger expert opinions and summaries (as opposed to commentary and questions) and worried about how qualified the contributors were.
      </p>
    </section>
    <figure>
      <%= image_tag 'Assets/Scout/guardian-story.png', {:alt => 'Screenshot of a story on the Guardian website with the headline Children in England sign over digital rights regularly and unknowingly'} %>
      <figcaption>
        Data privacy does make the headlines, but not often
      </figcaption>
    </figure>

    <section class="learning">

      <h2>
        The story isn’t the lack of privacy, it’s the manifestation of that lack of privacy
      </h2>

      <p>
        Some of the journalists we spoke to perceived their audience as either not caring about privacy issues, or being resigned to a lack of privacy. What does motivate their readers however are the more obvious, less conceptual problems - being bombarded by targeted ads, concerns about being ‘ripped off’. Our goal should be to connect the more abstract issues around data protection and privacy to the real-world manifestations of those issues. Only then should we explain why these annoying things keep happening - and in plain, everyday language.
      </p>

    </section>
    <figure>
      <%= image_tag 'Assets/Scout/performance-art.png', {:alt => 'Screenshot of a tweet showing a live reading of terms and conditions by the Norweigan Consumer Council'} %>
      <figcaption>
        The Norweigan Consumer Council stage a live reading of terms and conditions
      </figcaption>
    </figure>
  </section>
</article>
