<article>
  <section>
    <h1 class="project-title"><span>Terms and reviewers</span></h1>
    <section class="belief-statement">
      <ul>
        <li>
          <%= partial("partials/beliefs/technology_should_work_for_people") %>
        </li>
      </ul>
    </section>
    <section class="situation">
      <p>
        People don’t take data privacy into account when buying connected devices - information about security is not often covered in product reviews and press coverage about new products.

      </p>
    </section>
    <section class="complication">
      <p>
        People don’t take data privacy into account when buying connected devices - information about security is not often covered in product reviews and press coverage about new products.
      </p>
    </section>
    <section class="what-we-did">
      <p>
        We showed X journalists and reviewers a prototype of Leglease, a community-driven terms and conditions analysis site where contributors annotate legal terms and leave questions for manufacturers to answer.
      </p>
    </section>
    <section class="question">
      <p>
        Could we encourage product reviewers to talk about privacy and security?
      </p>
    </section>
    <section class="answer">
      <p>
        We learned that it was clear what Legalease was for. However, participants’ reactions were mixed as to whether it was something they’d use during their writing process. They wanted to see stronger expert opinions and summaries (as opposed to commentary and questions) and worried about how qualified the contributors were.
      </p>
    </section>

    <section class="learning">
      <h2>Objectivity and subjectivity</h2>
      <p>
        Different publications have different approaches. One of the journalists we spoke to wrote for a review site carried out with repeatable objective experiments to decide which product was best. Another wrote for a site where personal and political opinion is encouraged, and was able to bring his own views into his reviews.
      </p>

      <h2>Use personal or professional relationships to understand complex issues</h2>

      <p>
        The journalists we spoke to relied on a few different types of sources for their stories: PR agencies, manufacturers, their own research, awareness of trends through personal contacts and online communities (Reddit).
      </p>

      <h2>Accuracy and the right to reply are important</h2>

    </section>
  </section>
</article>
