---
title: Behaviour and energy
---

<header>
  <%= partial("partials/global_nav") %>
  <h1>[Behaviour and energy]</h1>
</header>
<article>
  <section>
    <section class="belief-statement">
      <ul>
        <li>
          <%= partial("partials/beliefs/understand_and_control") %>
        </li>
      </ul>
    </section>
    <section class="situation">
      <p>
        We built lots of wind farms, hydro, solar and other sources of renewable energy but we aren’t able to make the most of them.
      </p>
    </section>
    <section class="complication">
      <p>
        The generation of renewable energy is hard to forecast and, in the case of solar, does not align with peak demand times.
      </p>
    </section>
    <section class="question">
      <p>
        If we show people what times the energy in their homes is going to be coming from non-renewable sources for that day, would they change their behaviour?
      </p>
    </section>
    <section class="answer">
      <p>
        We built a prototype of a carbon clock which shows the expected percentage of carbon fuels for the next 24 hours using a traffic light system.
      </p>
    </section>
  </section>
</article>
