---
title: We believe technology should work for people and communities, not against them
---

<div class="welcome">
  <h1><%= partial("partials/beliefs/technology_should_work_for_people") %></h1>

</div>
