<article>
  <p>
    We’re a team here in Co-op Digital that builds things to think with.
  </p>

  <p>
    We have diverse set of skills in the team that allow us to quickly build and test our ideas. Whether that’s building a physical gadget, building a web app or user interviewing. We do whatever it takes to quickly test and validate our ideas.
  </p>

  <p>
    We look for areas where we can build new digital businesses where co-operation is a commercial advantage.
  </p>

  <p>
    We build prototypes, test our assumptions by putting them in front of real people, learn what works and what doesn’t, and what to do next.
  </p>

  <p>Get in touch: email <a href="mailto:helen.murray@coopdigital.co.uk">helen.murray@coopdigital.co.uk</a></p>
</article>
