---
title: Collective switching | Digital Product Research
desc: Could we do a thing? We built a prototype thing to find out.
auth:
---

<%= partial('partials/experiment/safer-emails') %>

<section class="methods">
  <div>
    <h1>How we ran this experiment</h1>
    <%= partial('partials/methods/interviews') %>
  </div>
</section>

<section class="what-next">
  <section class="further-reading">
    <h1>Further reading</h1>
    <ul>
      <li><a href="" target="_blank">Related link</a></li>

    </ul>
  </section>
  <section class="related-project">
    <h1>
      Related experiments
    </h1>
    <h2><%= partial("partials/beliefs/technology_should_work_for_people") %></h2>
    <ul>
      <li>
        <%= link_to 'Cheaper, greener energy through smart behaviour', 'shared-energy' %>
      </li>
    </ul>
  </section>
  </section>
