---
title: Collective switching | Digital Product Research
desc: Could we do a motivate non-switchers to change to a green energy company? We built a prototype thing to find out.
auth:
---

<%= partial('partials/experiment/collective-switch') %>

<section class="methods">
  <div>
    <h1>How we ran this experiment</h1>
    <%= partial('partials/methods/interviews') %>
  </div>
</section>

<section class="what-next">
  <section class="further-reading">
    <h1>Further reading</h1>
    <ul>
      <li>
        <a href="http://www.eprg.group.cam.ac.uk/wp-content/uploads/2015/09/1515-PDF.pdf" target="_blank">Why Do More British Consumers Not Switch Energy Suppliers? The Role of Individual Attitudes</a>[PDF]
      </li>
      <li>
        <a href="http://www.bbc.co.uk/news/magazine-14989860" target="_blank">Energy switching: Why the customer inertia?</a>
      </li>
      <li>
        <a href="http://www.bbc.co.uk/news/education-40344057" target="_blank">Heads warn parents of 'cash-starved schools'</a>
      </li>
      <li>
        <a href="hhttps://www.easyfundraising.org.uk/retailer/good-energy/" target="_blank">Raise up to £25.00 donation for your favourite charity or good cause by shopping with Good Energy via easyfundraising.org.uk</a>
      </li>
      <li>
        <a href="https://www.energyswitchguarantee.com/" target="_blank">Energy Switch Guarantee</a>
      </li>

    </ul>
  </section>
  <section class="related-project">
    <h1>
      Related experiments
    </h1>
    <h2><%= partial("partials/beliefs/technology_should_work_for_people") %></h2>
    <ul>
      <li>
        <%= link_to 'Cheaper, greener energy through smart behaviour', 'shared-energy' %>
      </li>
    </ul>
  </section>
  </section>
