---
title: Digital Product Research
---

<%= partial('partials/experiment/connected-devices') %>

<aside>
  <figure>
    <div class="embed">
      <iframe width="375" height="667" frameborder="0" src="https://scout-dashboard.herokuapp.com/1.html"></iframe>
    </div>
  </figure>
</aside>
