---
title: 
---

<header>
  <%= partial("partials/global_nav") %>
  <h1>[statement]</h1>
</header>
<article>
  <section>
    <section class="belief-statement">
      <ul>
        <li>
          [Belief]
        </li>
      </ul>
    </section>
    <section class="situation">
      <p>
        
      </p>
    </section>
    <section class="complication">
      <p>
        
      </p>
    </section>
    <section class="question">
      <p>
        
      </p>
    </section>
    <section class="answer">
      <p>
        
      </p>
    </section>
  </section>
</article>
