---
title: 
---

<header>
  <%= partial("partials/global_nav") %>
  <h1>[connected-devices]</h1>
</header>
<article>
  <section>
    <section class="belief-statement">
      <ul>
        <li>
          <%= partial("partials/beliefs/understand_and_control") %>
        </li>
        <li>
          <%= partial("partials/beliefs/technology_should_work_for_people") %>
        </li>
        <li>
          <%= partial("partials/beliefs/work_together") %>
        </li>
      </ul>
    </section>
    <section class="situation">
      <p>
        Many of the things in our homes connect to the internet, allowing us to control them with our phones via an app, to be part of an online community or to access content online.
      </p>
    </section>
    <section class="complication">
      <p>
        However, many people who use these devices aren’t aware of the threat to their individual privacy or of a wider security breach.
      </p>
    </section>
    <section class="question">
      <p>
        Can we make security exploits visible and understandable
      </p>
    </section>
    <section class="answer">
      <p>
        We prototyped Scout, a physical device that monitors a home wifi router, and showed it to 4 people who use these kinds of devices in their homes. We showed them some potential vulnerabilities in a home network that was similar to their own. They saw how personal information was transferred to a third party company, allowed via a clause buried deep within a product’s terms and conditions.
      </p>
      <p>
        We learned that awareness of the risks associated with using devices that connect to the internet tends to be low. Most of our participants had not thought about how secure or private the connection between their devices and the internet was. When we showed them the Scout prototype, our participants immediately understood the implications for an individual’s privacy and the risk of a wider botnet attack.
      </p>
    </section>
  </section>
</article>
