---
title: Digital Product Research
---

<%= partial('partials/experiment/connected-devices') %>

<aside>
  <figure>
    <div class="embed">
      <iframe width="375" height="667" frameborder="0" src="http://scout-dashboard.herokuapp.com/1.html"></iframe>
    </div>
  </figure>
</aside>

<section class="what-next">
  <section class="further-reading">
    <h1>Further reading</h1>
    <ul>
      <li><a href="#">Something</a></li>
    </ul>
  </section>
  <section class="related-project">
    <h1><%= partial("partials/beliefs/technology_should_work_for_people") %></h1>
    <h2>
      Keep reading
    </h2> 
    <a href="terms">Terms and reviewers</a>
  </section>
</section>
