---
title: Digital Product Research
---

<article>
<h1>Everything is Becoming Connected</h1>
<p>
  Many of these devices have cameras and microphones, capturing highly personal information inside the home.
</p>

</article>

<aside>
  <figure>
    <iframe src="http://scout-dashboard.herokuapp.com/"></iframe>
  </figure>
</aside>
