---
title: Will people co-operate for mutal benefit?
---

<article>
  <h1 id="tufte-css">Will people co-operate for mutual benefit?</h1>

  <section>

    <p>We’re working on ways of bringing people together, that are economically viable both for them and for the Co-op. Since we believe trust is a big part of co-operation; how can we use technology to build that trust? How large do the financial incentives to co-operate need to be - or are they needed at all?</p>

    <p>We’ve looked at how people can and do work together for a shared good:</p>

    <h2>Defining communities and groups</h2>

    <p>A lack of trust has broken insurance. There’s space for Co-op to try some radically new approaches to insurance: local, mutual, community focused and owned by members. We created a prototype of a new type of insurance scheme, where small groups of people with something in common (living in the same area in the same type of accommodation) could form a group and insure each other. Members would pay a regular contribution to a fund, and claims under a certain amount would come out of that fund. The group would decide what to do with any money left over (split between members or invest in their community to reduce the group’s risk), or what action to take if the fund ran low.</p>

    <p>
      We showed the prototype<label for="coop-protect-prototype" class="margin-toggle sidenote-number"></label><input type="checkbox" id="coop-protect-prototype" class="margin-toggle">
      <span class="sidenote">
        <a href="https://coop-protect.herokuapp.com/">
          <em>Protect Together</em>
        </a>
      </span>

      to a group of people who fit the requirements for our example group. However, the concept of a group based purely on location and accommodation type did not go down well. The people we spoke to did not necessarily know or trust their neighbours. However, the overall concept was well received. We should revisit our prototype, and make it possible for people to join a group based on other attributes - such as owners of expensive bikes.</p>



    <h2>Interviews about retirement</h2>

    <p>We spoke to 5 people in their 50s and 60s who had recently stopped working. We also spoke to a number of people who work or volunteer with older people: a GP, a travel agent and representatives from the WI, U3A and Age UK.</p>

    <p>We asked people about perceptions of ‘retirement’ and how people can make plans for their lives after they finish working. A number of themes emerged during our conversations, and we have selected 10 of these themes to explore further.</p>

    <p>[[is it helpful to list all the themes here?]]</p>

    <h2>Exploring the benefit of a shared loyalty scheme to local retailers</h2>

    <p>
      It’s getting harder for independent businesses to compete with online shops and global chains. And when those businesses shut down, they leave gaps in the local economy as well as the high street. Can Co-op encourage shoppers to spend their money locally and support their local economy? We showed 6 independent retailers in Chorlton a prototype of a scheme that earned shoppers ‘perks’, redeemable in any participating business, when they shopped with local independent retailers.
    </p>

    <p>Some local retailers were open to idea behind Locally, and were interesting in seeing the concept develop. However, most were not receptive to the prospect of shoppers earning perks in other shops and redeeming them in theirs, and felt the system could disadvantage them.</p>

    <p>
      We learned that independent business owners already use a diverse range of strategies to encourage loyalty to their businesses. They are ambivalent about wider loyalty schemes but take part in them with a ‘why not?’ attitude.

      <label for="mn-demo" class="margin-toggle">⊕</label>
      <input type="checkbox" id="mn-demo" class="margin-toggle">

      <span class="marginnote">
        <%= image_tag 'images/butcher.jpg' %>
        Getting feedback on Locally
      </span>
    </p>

    <p>Opinions were mixed about local business associations, with a general feeling that they needed modernising and could be more effective. We feel that local business associations could be an interesting area to explore next.</p>

    <h2>People would like to be able lobby manufacturers to make more secure products</h2>

    <p>
      People who use devices that connect to the internet (TVs, games consoles, baby monitors, security lights) in their home aren’t aware of the potential threat to their privacy. We prototyped Scout, a physical device that monitors a home wifi router, and showed it to 4 people who use these kinds of devices in their homes.

      <label for="mn-demo" class="margin-toggle">⊕</label>
      <input type="checkbox" id="mn-demo" class="margin-toggle">

      <span class="marginnote">
        <iframe id="scaled-frame" src="https://scout-dashboard.herokuapp.com/4.html"></iframe>
        Scout <em>A prototype exploring how you can monitor the devices connected on your home network</em>.
      </span>

    </p>

    <p>During the design process, we decided to add an extra feature that allowed a group of people with the same product to team up and lobby the manufacturer to improve the security of a particular product. This proved to be the thing that excited people the most about Scout.</p>

  </section>
</article>
