---
title: Digital Product Research
---

<%= partial('partials/experiment/financial-freedom') %>

<aside>
  <figure>
    <div class="embed">
      <iframe width="375" height="667" frameborder="0" src="https://coopdigital.github.io/dpr-level-up"></iframe>
    </div>
  </figure>
</aside>
