---
title: Digital Product Research
---

<%= partial('partials/experiment/financial-freedom') %>

<aside>
  <figure class="mobile-frame">
    <div class="embed">
      <iframe width="375" height="667" frameborder="0" src="https://coopdigital.github.io/dpr-level-up"></iframe>
    </div>
  </figure>
</aside>

<section class="what-next">
  <section class="further-reading">
    <h1>Further reading</h1>
    <ul>
      <li><a href="http://www.mrmoneymustache.com/">Mr. Money Mustache</a></li>
      <li><a href="https://ustwo.com/blog/5-lessons-old-money-banking-can-learn-from-new-tech-start-ups-today">5 Lessons Old Money Banking Can Learn from New Tech Start-Ups Today</a></li>
      <li><a href="http://www.telegraph.co.uk/finance/personalfinance/10075722/Money-habits-are-formed-by-age-seven.html">Money habits are 'formed by age seven'</a></li>
    </ul>
  </section>
  <section class="related-project">
    <h1><%= partial("partials/beliefs/technology_should_work_for_people") %></h1>
    <h2>
      Keep reading
    </h2>
    <a href="terms">Terms and reviewers</a>
  </section>
</section>
