---
title: Digital Product Research
---

<%= partial('partials/experiment/group-trust') %>

<aside>
  <figure class="mobile-frame">
    <div class="embed">
      <iframe width="375" height="667" frameborder="0" src="https://coop-protect.herokuapp.com/"></iframe>
    </div>
  </figure>
</aside>

<section class="what-next">
  <section class="further-reading">
    <h1>Further reading</h1>
    <ul>
      <li><a href="https://teambrella.com/">Teambrella</a></li>
      <li><a href="http://www.safeshareinsurance.com/">The insurance solution for the sharing economy</a></li>
      <li><a href="http://monevator.com/when-to-buy-insurance/">When to buy insurance</a></li>
      <li><a href="https://medium.com/@shai_wininger/lemonades-first-quarter-in-market-exposed-1e868e514bfa#.9sh9z97in">Lemonade’s First Quarter In Market— Exposed</a></li>

    </ul>
  </section>
  <section class="related-project">
    <h1><%= partial("partials/beliefs/work_together") %></h1>
    <h2>
      Keep reading
    </h2>
    <a href="locally">Keeping money local</a>
  </section>
</section>
