---
title: Digital Product Research
---

<article>
  <h1 id="tufte-css">Digital Product Research</h1>

  <section>

    <p>Beliefs:</p>
    <ul>
      <li><%= link_to partial("partials/beliefs/understand_and_control"), '/understand-and-control/' %></li>
      <li><%= link_to partial("partials/beliefs/technology_should_work_for_people"), '/technology-should-work-for-people/' %></li>
      <li><%= link_to partial("partials/beliefs/work_together"), '/work-together/' %></li>
    </ul>


    <p>Other pages:</p>
    <ul>
      <li><%= link_to "Learning-first experiment", '/experiment/' %></li>
    </ul>

  </section>
</article>
