---
title: Digital Product Research
---

<article>
  <h1 id="tufte-css">Digital Product Research</h1>

  <section>

    <nav>
      <ul>
        <li>
          <a href="behaviour-and-energy">Behaviour and energy</a>
        </li>
        <li>
          <a href="big-data-small-retailers">Big data, small retailers</a>
        </li>
        <li>
          <a href="connected-devices">Connected devices</a>
        </li>
        <li>
          <a href="encryption-and-privacy">Encryption and privacy</a>
        </li>
        <li>
          <a href="energy-and-demand">Energy and demand</a>
        </li>
        <li>
          <a href="group-trust">Group trust</a>
        </li>
        <li>
          <a href="life-after-work">Life after work</a>
        </li>
        <li>
          <a href="living-together">Living together</a>
        </li>
        <li>
          <a href="managing-bills">Managing bills</a>
        </li>
        <li>
          <a href="new-kinds-of-work">New kinds of work</a>
        </li>
        <li>
          <a href="shared-loyalty">Shared loyalty</a>
        </li>
        <li>
          <a href="shared-transport">Shared transport</a>
        </li>
        <li>
          <a href="terms-and-reviewers">Terms and reviewers</a>
        </li>
        <li>
          <a href="washing-machine-subscription">Washing machine subscription</a>
        </li>
      </ul>
    </nav>

    <p>Beliefs:</p>
    <ul>
      <li><%= link_to partial("partials/beliefs/understand_and_control"), '/understand-and-control/' %></li>
      <li><%= link_to partial("partials/beliefs/technology_should_work_for_people"), '/technology-should-work-for-people/' %></li>
      <li><%= link_to partial("partials/beliefs/work_together"), '/work-together/' %></li>
    </ul>


    <p>Other pages:</p>
    <ul>
      <li><%= link_to "Learning-first experiment", '/experiment/' %></li>
    </ul>

  </section>
</article>
