---
title: Digital Product Research
---

<div class="projects">
  <div class="project">
    <a href="#" class="scroll-container">
      <article id="project-connected-devices">
        <%= partial('partials/placeholder') %>
      </article>
    </a>
  </div>
  <div class="project">
    <a href="#" class="scroll-container">
      <article id="project-protect-together">
        <%= partial('partials/placeholder') %>
      </article>
    </a>
  </div>
</div>
