---
title: Digital Product Research
---

<div class="projects">
  <div class="project">
    <div class="scroll-container">
      <article id="project-connected-devices">
        <%= partial('partials/placeholder') %>
      </article>
    </div>
  </div>
  <div class="project">
    <div class="scroll-container">
      <article id="project-connected-devices">
        <%= partial('partials/placeholder') %>
      </article>
    </div>
  </div>
</div>
