---
title: Digital Product Research
---

<div class="wrap">

<article>
  <h1 id="tufte-css">Digital Product Research</h1>

  <section>

    <p>We're a team in Co-op Digital inventing ambitious new digital businesses where co-operation is a competative advantage.</p>

    <p>We do this by building prototypes and experiments to help us think about the future:</p>

    <nav>
      <ul>
        <li>
          <a href="connected-devices">Connected devices</a>
        </li>
        <li>
          <a href="group-trust">Protecting your stuff</a>
        </li>
      </ul>
    </nav>

  </section>
</article>

</div>
