---
title: 
---

<header>
  <%= partial("partials/global_nav") %>
  <h1>[life-after-work]</h1>
</header>
<article>
  <section>
    <section class="belief-statement">
      <ul>
        <li>
          We believe technology should work for people and communities, not against them
        </li>
      </ul>
    </section>
    <section class="situation">
      <p>
        Aging well is as much about happiness and relationships as it is about being financially secure. 
      </p>
    </section>
    <section class="complication">
      <p>
        Younger people face the prospect of aging in much reduced financial circumstances in comparison to their parents and grandparents. And the way we live now makes it harder to maintain friendship and family bonds - which we now know are so vital for physical and mental health. 
      </p>
    </section>
    <section class="question">
      <p>
        Is there something the Co-op can do to help our members and others face their later years with a degree of confidence that their social, emotional and financial needs will be taken care of? We carried out some early discovery research as a starting point for a more targeted experiment.
      </p>
    </section>
    <section class="answer">
      <p>
        We spoke to 5 people in their 50s and 60s who had recently stopped working. We also spoke to a number of people who work or volunteer with older people: a GP, a travel agent and representatives from the WI, U3A and Age UK.
      </p>
      <p>
        We asked people about their perceptions of ‘retirement’ and how people can make plans for their lives after they finish working. A number of themes emerged during our conversations, and we have selected 10 of these themes to explore further.
      </p>
      <p>
        <ul>
          <li>
            Having someone looking out for you
          </li>
          <li>
            Stuff to give me an identity and purpose
          </li>
          <li>
            Changing working practices
          </li>
          <li>
            Conscious decision making
          </li>
          <li>
            Help with financial planning
          </li>
          <li>
            Active
          </li>
          <li>
            Meeting new and existing friends
          </li>
          <li>
            Don’t stop dreaming
          </li>
          <li>
            Empathy with others
          </li>
          <li>
            Introducing structure after work
          </li>
        </ul>
      </p>     
    </section>
  </section>
</article>
