---
title:
---

<header>
  <%= partial("partials/global_nav") %>
  <h1>[statement]</h1>
</header>
<article>
  <section>
    <section class="belief-statement">
      <ul>
        <li>
          <%= partial("partials/beliefs/work_together") %>
        </li>
      </ul>
    </section>
    <section class="situation">
      <p>
        Co-housing projects offer an affordable way for people to live as part of a community in a home that they own.
      </p>
    </section>
    <section class="complication">
      <p>
        However, setting up a co-housing project is an expensive and time consuming, often taking years and many failed attempts before a successful development becomes possible. It also requires substantially more commitment and engagement from members than traditional forms of housing.
      </p>
    </section>
    <section class="question">
      <p>
        Can Co-op make it easier for groups of people to set up co-housing projects? We carried out some early discovery research..
      </p>
    </section>
    <section class="answer">
      <p>
        We spoke to representatives from x co-housing projects and co-operative housing developments at different stages of maturity. We learned a lot about the challenges facing people who want to set up a development like this, as well as what it’s like to live in a co-housing project.
      </p>
    </section>
  </section>
</article>
