---
title: Digital Product Research
---

<%= partial('partials/experiment/locally') %>

<aside>
  <figure>
    <div class="embed">
      <figure>
        <%= image_tag 'Assets/Locally/app-view.png', {:alt => 'Screenshot of the Locally mobile app, showing perks available for local shoppers, such as hair cuts and watch batteries' } %>
        <figcaption>
          Locally rewarded people who shopped in independent businesses in their area.
        </figcaption>
      </figure>

    </div>
  </figure>
</aside>

<section class="what-next">
  <section class="further-reading">
    <h1>Further reading</h1>
    <ul>
      <li><a href="http://internetretailing.net/2016/07/nearst-aims-add-4bn-year-uk-high-street-2020-leveraging-local-search/">NearSt aims to add £4bn a year to UK High Street by 2020 by leveraging ‘local search’ - InternetRetailing</a></li>
      <li><a href="http://lancasterfoodloopgame.weebly.com/">Encouraging Local Spend Through the Creation of Local Money Loops</a></li>
      <li><a href="https://www.colu.com/">Local Currency - Colu</a></li>
      <li><a href="https://www.theguardian.com/commentisfree/2017/feb/08/take-back-control-bottom-up-communities">This is how we take back control: from the bottom up | George Monbiot</a></li>
      <li><a href="http://www.criticalpracticechelsea.org/wiki/index.php?title=Proposal_for_Local_Currency">Proposal for Local Currency</a></li>
      <li><a href="http://bristolpound.org/what">Bristol Pound - Our City. Our Money</a></li>

    </ul>
  </section>
  <section class="related-project">
    <h1><%= partial("partials/beliefs/technology_should_work_for_people") %></h1>
    <h2>
      Keep reading
    </h2>
    Small retailers, big data
  </section>
</section>
