---
title: Digital Product Research
---

<%= partial('partials/experiment/locally') %>

<aside>
  <figure>
    <div class="embed">
      <figure>
        <%= image_tag 'Assets/Legalease/comments.png', {:alt => 'Screenshot of the Legalease site, with highlighted clauses from terms and conditions with comments from fictional contributers' } %>
        <figcaption>
          We wanted to show how a community could work together to highlight problmatic terms and conditions
        </figcaption>
      </figure>

    </div>
  </figure>
</aside>
