---
title: Digital Product Research
---

<%= partial('partials/experiment/locally') %>
<section class="methods">
  <h2>Our research</h2>
  <%= partial('partials/methods/gv-sprint') %>

</section>


<section class="what-next">

  <section class="further-reading">
    <h1>Further reading</h1>
    <ul>
      <li><a href="http://internetretailing.net/2016/07/nearst-aims-add-4bn-year-uk-high-street-2020-leveraging-local-search/" target="_blank">NearSt aims to add £4bn a year to UK High Street by 2020 by leveraging ‘local search’ - InternetRetailing</a></li>
      <li><a href="http://lancasterfoodloopgame.weebly.com/" target="_blank">Encouraging Local Spend Through the Creation of Local Money Loops</a></li>
      <li><a href="https://www.colu.com/" target="_blank">Local Currency - Colu</a></li>
      <li><a href="https://www.theguardian.com/commentisfree/2017/feb/08/take-back-control-bottom-up-communities" target="_blank">This is how we take back control: from the bottom up | George Monbiot</a></li>
      <li><a href="http://www.criticalpracticechelsea.org/wiki/index.php?title=Proposal_for_Local_Currency" target="_blank">Proposal for Local Currency</a></li>
      <li><a href="http://bristolpound.org/what" target="_blank">Bristol Pound - Our City. Our Money</a></li>

    </ul>
  </section>
  <section class="related-project">
    <h1><%= partial("partials/beliefs/technology_should_work_for_people") %></h1>
    <h2>
      Keep reading
    </h2>
    Small retailers, big data
  </section>
</section>
