---
title:
---

<header>
  <%= partial("partials/global_nav") %>
  <h1>[statement]</h1>
</header>
<article>
  <section>
    <section class="belief-statement">
      <ul>
        <li>
          <%= partial("partials/beliefs/technology_should_work_for_people") %>
        </li>
      </ul>
    </section>
    <section class="situation">
      <p>
        Most utility companies offer e-billing or paperless billing to cut down on their costs, and the trend is towards asking customers to opt-in to (and forfeit a discount) receiving paper bills and invoices.
      </p>
    </section>
    <section class="complication">
      <p>
        But, paperless billing and standing order payments make it easy to lose track of spending. Customers might get an email when a new bill is ready, but not the bill itself (or even the amount). They’re expected to log into an account and download the bill from a password protected website.
      </p>
    </section>
    <section class="question">
      <p>
        Could we help people to make better decisions about their finances, and show them information about their spending which (consciously or unconsciously) companies are hiding from them?      </p>
    </section>
    <section class="answer">
      <p>
        We built Fetch, an app that uses a bot (a computer program) to log into websites for companies sending paperless bills. Fetch finds the bills and downloads them onto the user’s phone. For Fetch to work, the user has to share their login details for the paperless billing website - which is often a breach of that company’s terms and conditions. We recruited X early users and
      </p>
    </section>
    <section class="learning">
      <p>
        Our early version of the app allowed the automatic downloading of bills from two companies, which meant that the experience was rather limited for our early users. Despite that, the app was received well, with the understanding that users would be able to connect more accounts in the future. However, concerns about the implications of asking our users to breach the terms and conditions of their billing companies meant that we paused our work in this area.
      </p>
    </section>
  </section>
</article>
