---
title:
---

<header>
  <%= partial("partials/global_nav") %>
  <h1>[statement]</h1>
</header>
<article>
  <section>
    <section class="belief-statement">
      <ul>
        <li>
          We believe people should work together to support each other
        </li>
      </ul>
    </section>
    <section class="situation">
      <p>
        Ownership is changing, there’s a trend where more and more people are renting things rather than owning them outright.
      </p>
    </section>
    <section class="complication">
      <p>
        A car owner has their vehicle sat on the drive most of the time. These people might make more use of this expensive investment by letting their friends drive their car while earning some cash at the same time. There doesn’t seem to be an easy way to do this so that a friend can quickly and easily be insured for a short period of time.
      </p>
    </section>
    <section class="question">
      <p>
        [question]
      </p>
    </section>
    <section class="answer">
      <p>
        [answer]
      </p>
    </section>
  </section>
</article>
