---
title: Digital Product Research
---

<%= partial('partials/experiment/terms-reviewers') %>

<section class="what-next">
  <section class="view-experiment">
    <a class="experiment-link" href="https://coopdigital.github.io/legalease/" target="_blank">Open experiment in a new window</a>
  </section>
  <section class="further-reading">
    <h1>Further reading</h1>
    <ul>
      <li><a href="http://thenextweb.com/opinion/2017/01/09/its-about-time-apps-ditched-the-legalese-in-their-terms-and-conditions/" target="_blank" >It's time for apps' terms and conditions to ditch the legalese</a></li>
      <li><a href="https://www.theguardian.com/society/2017/jan/05/children-england-digital-rights-social-media-terms-conditions-anne-longfield" target="_blank" >Children in England sign over digital rights 'regularly and unknowingly'</a></li>
      <li><a href="https://tosdr.org/" target="_blank" >Terms of Service; Didn't Read</a></li>
      <li><a href="https://qz.com/878790/a-lawyer-rewrote-instagrams-terms-of-service-for-kids-now-you-can-understand-all-of-the-private-data-you-and-your-teen-are-giving-up-to-social-media/" target="_blank" >A lawyer rewrote Instagram’s privacy policy so kids and parents can have a meaningful talk about privacy</a></li>

    </ul>
  </section>
  <section class="related-project">
    <h1><%= partial("partials/beliefs/understand_and_control") %></h1>
    <h2>
      Keep reading
    </h2>
    <a href="connected">Connected devices</a>
  </section>
</section>
