<label for="<%= uniqueId %>" class="margin-toggle">⊕</label><input type="checkbox" id="<%= uniqueId %>" class="margin-toggle"><span class="marginnote"><%= image_tag imagePath, {:alt => alt ||= "" } %><%= caption ||= "" %></span>
