<label for="<%= imageId %>" class="margin-toggle">⊕</label><input type="checkbox" id="<%= imageId %>" class="margin-toggle"><span class="marginnote"><%= image_tag imagePath %><%= caption ||= "" %></span>
