<label for="<%= uniqueId %>" class="margin-toggle sidenote-number"></label>
  
<input type="checkbox" id="<%= uniqueId %>" class="margin-toggle">
<span class="sidenote belief-aside">
	<span>
  		<%=sidenoteContent%>
	</span>

</span>
